.hero-header {
  min-height: 720px;
  position: relative;
  max-height: 100vh;

  @include media-up(lg) {
    min-height: 864px;
  }

  &__slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__indicators {
    width: 100%;
    position: absolute;
    bottom: 30px;
    left: 0;
    z-index: 11;

    @include media-up(lg) {
      bottom: 84px;
    }

    .splide__pagination {
      gap: 12px;

      @include media-up(lg) {
        justify-content: flex-start;
      }

      button {
        display: block;
        background-color: $white-color;
        width: 40px;
        height: 5px;
        border: none;
        cursor: pointer;
        
        @include media-up(md) {
          width: 60px;
        }

        &.is-active {
          background-color: $primary-color;
        }
      }
    }
  }
}

.hero-slider {
  width: 100%;
  height: 100%;

  .splide__track {
    height: 100%;
  }

  &__slide {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    &.slide-1 {
      background-image: linear-gradient(90deg, #000000 0%, #00000000 100%),
        url('~/public/assets/images/slider1-mobile.png');
      background-position: right;

      @include media-up(sm) {
        background-image: linear-gradient(90deg, #000000 0%, #00000000 100%),
        url('~/public/assets/images/slider1.png');
      }
    }

    &.slide-2 {
      background-image: linear-gradient(90deg, #000000 0%, #00000000 100%),
        url('~/public/assets/images/slider2.png');
    }

    &.slide-3 {
      background-image: linear-gradient(90deg, #000000 0%, #00000000 100%),
        url('~/public/assets/images/slider3.png');
    }

    &__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__inner {
      width: 100%;
      position: absolute;
      top: 30%;
      left: 0;
      z-index: 11;

      @include media-up(md) {
        top: 40%;
      }

      img {
        width: 58px;
        height: 32px;

        @include media-up(md) {
          width: 88px;
          height: 48px;
        }
      }

      h1 {
        color: $white-color;
        font-family: $primary-font;
        @include fluid-margin($min_width, $max_width, 30px, 48px, top);
        @include fluid-margin($min_width, $max_width, 30px, 48px, bottom);
        @include fluid-font-size($min_width, $max_width, 48px, 64px);
        @include fluid-line-height($min_width, $max_width, 56px, 64px);
      }

      span {
        display: block;
        font-weight: 600;
        font-size: 16px;
        color: $white-color;
      }
    }
  }
}

.hero-button {
  display: block;
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 11;
  pointer-events: none;

  @include media-up(lg) {
    bottom: 60px;
  }

  .button {
    margin: 0 auto;
    pointer-events: all;
    display: block;
  }
}
