.sign-success {
  max-width: 300px;
  background-color: transparent;
  width: 70%;
  border: 0;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__title {
    font-size: 24px;
    color: $white-color;
    margin-bottom: 20px;
    font-weight: 700;
  }

  &__message {
    font-size: 13px;
    line-height: 24px;
    color: $white-color;
    font-family: $tertiary-font;
    font-weight: 400;
  }

  .button {
    margin-top: 60px;
  }

  &::backdrop {
    background-color: rgba($black-color, 0.9);
  }
}
