@mixin media-up($breakpoint) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin media-down($breakpoint) {
  @media (max-width: calc(#{map-get($breakpoints, $breakpoint)} - 0.1px)) {
    @content;
  }
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-font-size($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

@mixin fluid-line-height($min-vw, $max-vw, $min-line-height, $max-line-height) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-line-height);
  $u4: unit($max-line-height);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      line-height: $min-line-height;
      @media screen and (min-width: $min-vw) {
        line-height: calc(
          #{$min-line-height} + #{strip-unit(
              $max-line-height - $min-line-height
            )} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        line-height: $max-line-height;
      }
    }
  }
}

@mixin fluid-padding($min-vw, $max-vw, $min, $max, $type) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min);
  $u4: unit($max);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      padding-#{$type}: $min;
      @media screen and (min-width: $min-vw) {
        padding-#{$type}: calc(
          #{$min} + #{strip-unit(
              $max - $min
            )} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        padding-#{$type}: $max;
      }
    }
  }
}

@mixin fluid-margin($min-vw, $max-vw, $min, $max, $type) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min);
  $u4: unit($max);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      margin-#{$type}: $min;
      @media screen and (min-width: $min-vw) {
        margin-#{$type}: calc(
          #{$min} + #{strip-unit(
              $max - $min
            )} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        margin-#{$type}: $max;
      }
    }
  }
}